
#i2 {
	background-color: #4a748c;
}

#i8 {
	background-color: #4a748c;
}

#content {
	display: flex;
	flex-direction: row;
	align-items: center;

	justify-content: space-around;

	min-width: 825px;

	overflow: hidden;
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;

	justify-content: space-between;

	padding: 1em;
	margin-bottom: 1em;

	background-color: rgba(255, 255, 255, 0.25);
	box-shadow: 0 0 10px rgba(175, 175, 175, 0.75);

	width: 40%;
}

.section_title {
	margin: 0;

	font-size: 1.3em;
}

.section_content {
	display: flex;
	flex-direction: column;
	align-items: center;

	justify-content: space-between;

	padding: 1em;
	border-radius: 25px;
}

.subsection {
	display: flex;

	flex-direction: column;
	align-items: flex-start;

	padding-right: 2em;
	padding-left: 2em;

	margin: 1em;

	/* border-radius: 25px; */

	background-color: rgba(255, 255, 255, 0.5);

	flex: 1;
	padding: 1em;

	width: 30em;
}

.subsection_title {
	padding-bottom: 0.5em;

	margin: 0;
	font-size: 1.3em;
}

.subsection_content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	justify-content: space-between;

	border-radius: 25px;
}